<div id="smallDialog">

  <md-dialog  class="card-dialog" aria-label="New Message"  ng-cloak>
    <form name="eventForm" class="md-inline-form" novalidate>
      <md-toolbar class="md-accent ">
        <div class="md-toolbar-tools" >
          <!-- Title -->
          <span class="title">Reset Password</span>
          <!-- /Title -->

          <span flex></span>
          <!-- CLOSE DIALOG BUTTON -->
          <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog" translate
                     translate-attr-aria-label="CALENDAR.CLOSE_DIALOG">
            <md-icon md-font-icon="icon-close"></md-icon>
          </md-button>
          <!-- /CLOSE DIALOG BUTTON -->
        </div>

      </md-toolbar>
      <!--{{vm.easyAnnouncement}}-->

      <md-dialog-content ms-scroll >
        <div layout="row" class="date-row">
          <md-input-container class="md-block">
            <label >Password</label>
            <input name="name" type="password" ng-model="vm.userInstance.password"  autocomplete="off" required>
            <div ng-messages="eventForm.password.$error" ng-show="eventForm.password.$touched" role="alert">
              <div ng-message="required">
                <span >Cannot be null</span>
              </div>
            </div>
          </md-input-container>





        </div>




      </md-dialog-content>

      <md-dialog-actions layout="row" layout-align="space-between center">
        <md-button ng-click="vm.resetPassword(vm.userInstance)" class="save-button md-accent md-raised" aria-label="SAVE"
                   ng-disabled="eventForm.$invalid || eventForm.$pristine" >
          SAVE
        </md-button>


      </md-dialog-actions>
    </form>
  </md-dialog>
</div>

